<a href="https://colab.research.google.com/github/AlirezaAhadipour/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# create Series
s = pd.Series([1, 3, 4, np.nan, 7, 8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    7.0
5    8.0
dtype: float64

In [3]:
# create DataFrame
dates = pd.date_range('20230401', periods=6) #YYYYMMDD
dates

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2023-04-01 -0.366904 -1.365206  1.096095  1.031945
2023-04-02 -0.082884  0.318643  1.871432 -0.740786
2023-04-03 -0.156721 -0.947073  0.248665  0.986354
2023-04-04 -0.440243  0.543928  0.633943  1.287888
2023-04-05 -1.026632  0.119786  0.498241  0.120709
2023-04-06 -1.868878  0.588800 -0.496948 -0.202579

In [5]:
# return DataFrame index
df.index

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# return DataFrame column header
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [7]:
# sort by axis
df.sort_index(axis=1, ascending=False) # axis 1: horizontal, axis 0: vertical

                   D         C         B         A
2023-04-01  1.031945  1.096095 -1.365206 -0.366904
2023-04-02 -0.740786  1.871432  0.318643 -0.082884
2023-04-03  0.986354  0.248665 -0.947073 -0.156721
2023-04-04  1.287888  0.633943  0.543928 -0.440243
2023-04-05  0.120709  0.498241  0.119786 -1.026632
2023-04-06 -0.202579 -0.496948  0.588800 -1.868878

In [8]:
# sort by value
df.sort_values(by='C')

                   A         B         C         D
2023-04-06 -1.868878  0.588800 -0.496948 -0.202579
2023-04-03 -0.156721 -0.947073  0.248665  0.986354
2023-04-05 -1.026632  0.119786  0.498241  0.120709
2023-04-04 -0.440243  0.543928  0.633943  1.287888
2023-04-01 -0.366904 -1.365206  1.096095  1.031945
2023-04-02 -0.082884  0.318643  1.871432 -0.740786

In [9]:
# selecting columns
df['B'] # return a Series

2023-04-01   -1.365206
2023-04-02    0.318643
2023-04-03   -0.947073
2023-04-04    0.543928
2023-04-05    0.119786
2023-04-06    0.588800
Freq: D, Name: B, dtype: float64

In [10]:
df.B

2023-04-01   -1.365206
2023-04-02    0.318643
2023-04-03   -0.947073
2023-04-04    0.543928
2023-04-05    0.119786
2023-04-06    0.588800
Freq: D, Name: B, dtype: float64

In [11]:
df[['B', 'C']]

                   B         C
2023-04-01 -1.365206  1.096095
2023-04-02  0.318643  1.871432
2023-04-03 -0.947073  0.248665
2023-04-04  0.543928  0.633943
2023-04-05  0.119786  0.498241
2023-04-06  0.588800 -0.496948

In [12]:
# selecting rows
df[0:3]

                   A         B         C         D
2023-04-01 -0.366904 -1.365206  1.096095  1.031945
2023-04-02 -0.082884  0.318643  1.871432 -0.740786
2023-04-03 -0.156721 -0.947073  0.248665  0.986354

In [13]:
# selection by label
df.loc[dates[0]]

A   -0.366904
B   -1.365206
C    1.096095
D    1.031945
Name: 2023-04-01 00:00:00, dtype: float64

In [14]:
df.loc[:, ["A", "B"]]

                   A         B
2023-04-01 -0.366904 -1.365206
2023-04-02 -0.082884  0.318643
2023-04-03 -0.156721 -0.947073
2023-04-04 -0.440243  0.543928
2023-04-05 -1.026632  0.119786
2023-04-06 -1.868878  0.588800

In [15]:
df.loc["20230402":"20230404", "A": "C"] # both endpoints are included

                   A         B         C
2023-04-02 -0.082884  0.318643  1.871432
2023-04-03 -0.156721 -0.947073  0.248665
2023-04-04 -0.440243  0.543928  0.633943

In [16]:
# selection by position
df.iloc[3] # return the 3rd row

A   -0.440243
B    0.543928
C    0.633943
D    1.287888
Name: 2023-04-04 00:00:00, dtype: float64

In [17]:
df.iloc[3:5, 0:2] # slicing, endpoints are not inclusive

                   A         B
2023-04-04 -0.440243  0.543928
2023-04-05 -1.026632  0.119786

In [18]:
df.iloc[1:3, :]

                   A         B         C         D
2023-04-02 -0.082884  0.318643  1.871432 -0.740786
2023-04-03 -0.156721 -0.947073  0.248665  0.986354

In [19]:
df.iloc[:, 1:3]

                   B         C
2023-04-01 -1.365206  1.096095
2023-04-02  0.318643  1.871432
2023-04-03 -0.947073  0.248665
2023-04-04  0.543928  0.633943
2023-04-05  0.119786  0.498241
2023-04-06  0.588800 -0.496948

In [20]:
df.iloc[[1, 2, 4], [0, 2]] # integer positioning

                   A         C
2023-04-02 -0.082884  1.871432
2023-04-03 -0.156721  0.248665
2023-04-05 -1.026632  0.498241

In [21]:
df.iloc[1, 1]

0.31864301996734823

In [22]:
# Boolian indexing
df[df['B'] > 0]

                   A         B         C         D
2023-04-02 -0.082884  0.318643  1.871432 -0.740786
2023-04-04 -0.440243  0.543928  0.633943  1.287888
2023-04-05 -1.026632  0.119786  0.498241  0.120709
2023-04-06 -1.868878  0.588800 -0.496948 -0.202579

In [23]:
df[df > 0]

             A         B         C         D
2023-04-01 NaN       NaN  1.096095  1.031945
2023-04-02 NaN  0.318643  1.871432       NaN
2023-04-03 NaN       NaN  0.248665  0.986354
2023-04-04 NaN  0.543928  0.633943  1.287888
2023-04-05 NaN  0.119786  0.498241  0.120709
2023-04-06 NaN  0.588800       NaN       NaN

In [24]:
# setting new columns
df['E'] = [np.nan, 1, 2, 3, 4, 5]
df.loc[0:3, 'F'] = 1
df

<ipython-input-24-7962d91d0b86>:3: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  df.loc[0:3, 'F'] = 1

                   A         B         C         D    E    F
2023-04-01 -0.366904 -1.365206  1.096095  1.031945  NaN  1.0
2023-04-02 -0.082884  0.318643  1.871432 -0.740786  1.0  1.0
2023-04-03 -0.156721 -0.947073  0.248665  0.986354  2.0  1.0
2023-04-04 -0.440243  0.543928  0.633943  1.287888  3.0  NaN
2023-04-05 -1.026632  0.119786  0.498241  0.120709  4.0  NaN
2023-04-06 -1.868878  0.588800 -0.496948 -0.202579  5.0  NaN

In [25]:
# drop NaN values
df.dropna(how='any') # inplace is not true by default

                   A         B         C         D    E    F
2023-04-02 -0.082884  0.318643  1.871432 -0.740786  1.0  1.0
2023-04-03 -0.156721 -0.947073  0.248665  0.986354  2.0  1.0

In [26]:
# fill NaN values
df.fillna(value=999)

                   A         B         C         D      E      F
2023-04-01 -0.366904 -1.365206  1.096095  1.031945  999.0    1.0
2023-04-02 -0.082884  0.318643  1.871432 -0.740786    1.0    1.0
2023-04-03 -0.156721 -0.947073  0.248665  0.986354    2.0    1.0
2023-04-04 -0.440243  0.543928  0.633943  1.287888    3.0  999.0
2023-04-05 -1.026632  0.119786  0.498241  0.120709    4.0  999.0
2023-04-06 -1.868878  0.588800 -0.496948 -0.202579    5.0  999.0

In [27]:
# boolian mask for NaN values
pd.isna(df)

                A      B      C      D      E      F
2023-04-01  False  False  False  False   True  False
2023-04-02  False  False  False  False  False  False
2023-04-03  False  False  False  False  False  False
2023-04-04  False  False  False  False  False   True
2023-04-05  False  False  False  False  False   True
2023-04-06  False  False  False  False  False   True

In [28]:
# apply user defined function
df.apply(lambda x: x.max() - x.min())

A    1.785994
B    1.954006
C    2.368380
D    2.028674
E    4.000000
F    0.000000
dtype: float64

In [29]:
# concatenation
splits = [df[0:3], df[3:5], df[5:]]
splits
pd.concat(splits)

                   A         B         C         D    E    F
2023-04-01 -0.366904 -1.365206  1.096095  1.031945  NaN  1.0
2023-04-02 -0.082884  0.318643  1.871432 -0.740786  1.0  1.0
2023-04-03 -0.156721 -0.947073  0.248665  0.986354  2.0  1.0
2023-04-04 -0.440243  0.543928  0.633943  1.287888  3.0  NaN
2023-04-05 -1.026632  0.119786  0.498241  0.120709  4.0  NaN
2023-04-06 -1.868878  0.588800 -0.496948 -0.202579  5.0  NaN

In [30]:
# nerge
split1 = df.loc[:, 'A':'D']
split2 = df.loc[:, ['E', 'F']]
pd.merge(split1, split2, on=dates)

       key_0         A         B         C         D    E    F
0 2023-04-01 -0.366904 -1.365206  1.096095  1.031945  NaN  1.0
1 2023-04-02 -0.082884  0.318643  1.871432 -0.740786  1.0  1.0
2 2023-04-03 -0.156721 -0.947073  0.248665  0.986354  2.0  1.0
3 2023-04-04 -0.440243  0.543928  0.633943  1.287888  3.0  NaN
4 2023-04-05 -1.026632  0.119786  0.498241  0.120709  4.0  NaN
5 2023-04-06 -1.868878  0.588800 -0.496948 -0.202579  5.0  NaN

In [31]:
# group by
df.fillna(value=99, inplace=True)
df.groupby(['E', 'F']).sum()

                  A         B         C         D
E    F
1.0  1.0  -0.082884  0.318643  1.871432 -0.740786
2.0  1.0  -0.156721 -0.947073  0.248665  0.986354
3.0  99.0 -0.440243  0.543928  0.633943  1.287888
4.0  99.0 -1.026632  0.119786  0.498241  0.120709
5.0  99.0 -1.868878  0.588800 -0.496948 -0.202579
99.0 1.0  -0.366904 -1.365206  1.096095  1.031945